doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Square
    link(rel="icon" href="../img/favicon.png")
    link(rel="stylesheet" href="../css/app.min.css")

  body
    header.site-header
      .header-hamburger-wrapper
        a.mburger.mburger--squeeze(href="#m-menu")
          - for(let i = 0; i < 3; i++)
            b

      .header-logo-wrapper
        img.header-logo-square(src="../img/square-logo.svg" alt="square")

      .header-social-links-wrapper
        ul.header-social-links
          -
            let headerSocialLinks = ['facebook', 'twitter', 'instagram', 
            'flickr', 'google-plus', 'envelope'];

          - for (link of headerSocialLinks)
            li.header-social-link-item: a.header-social-link(href="#"): i(class=`fa fa-${link}`)

    main
      section.s-actors
        -
          let actors = ['Morgan Freeman', 'Brad Pitt', 'Bruce Willis', 'Jennifer Aninston', 'Jennifer Lopez', 
          'Johnny Depp', 'Keira Knightley', 'Will Smith'];


        .s-actors-slider#actors-slider

          .s-actors-image-container
            - for (actorName of actors)
              img(class="s-actors-image" src=`../img/actors/${actorName}.png` alt=actorName)

          .s-actors-nav
            mixin s-actors-info(name)
              .s-actors-info
                h3.s-actors-name #{name}
                em.s-actors-profession actor
                p.s-actors-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                  | Quisque fringilla mi orci, ac venenatis ante venenatis eget.

            - for(let actorName of actors)
              +s-actors-info(actorName)

            .s-actors-nav-control
              button.s-actors-nav-btn-prev(type="button")
              button.s-actors-nav-btn-next
              .s-actors-nav-counter

            .s-actors-links
              a.s-actors-like(href="#"):  i.fa.fa-heart
              a.s-actors-share(href="#"): i.fa.fa-share
              a.s-actors-mail(href="#"):  i.fa.fa-envelope

            button.s-actors-popup-btn(type="button")

      section.s-info: .s-info-container#info-container
        .s-info-banner
          img.s-info-banner-image(src="../img/fashion-workshop.png")
          h3.s-info-banner-headling fashion workshop

          time.s-info-banner-date 
            span.s-info-banner-date-days nov 21-23 
            span.s-info-banner-date-hours 9:00am - 4:00pm

          button.s-info-rsvp(type="button") RSVP

        .s-info-news
          h3.s-info-news-headling 
            span news

          -
            let news = [
              {
                headling: 'new gallery set',
                date: '09.12.2014',
                thumbnailPath: '../img/news-1.png',
                sketch: `Lorem ipsum dolor sit amet, consectetur adipiscing
                  elit. Quisque fringilla mi orci, ac venenatis ante venenatis
                  eget.`
              },
              {
                headling: 'wedding workshop',
                date: '09.12.2014',
                thumbnailPath: '../img/news-2.png',
                sketch: `Lorem ipsum dolor sit amet, consectetur adipiscing
                  elit. Quisque fringilla mi orci, ac venenatis ante venenatis
                  eget.`
              },
              {
                headling: 'personal project',
                date: '09.12.2014',
                thumbnailPath: '../img/news-3.png',
                sketch: `Lorem ipsum dolor sit amet, consectetur adipiscing
                  elit. Quisque fringilla mi orci, ac venenatis ante venenatis
                  eget.`
              },
            ];

          .s-info-news-articles
            mixin s-info-news-article(newsObj)
              article.s-info-news-article
                img.s-info-news-thumbnail(src=`${newsObj.thumbnailPath}`)

                .s-info-news-text-content
                  h1.s-info-news-article-headling #{`${newsObj.headling}`}
                  time.s-info-news-date #{`${newsObj.date}`}

                  p.s-info-news-sketch 
                    | #{newsObj.sketch} 
                    button.s-info-news-read-more(type="link") read more

            - for (let newsObj of news) 
              +s-info-news-article(newsObj)

        .s-info-contacts
          img.s-info-logo-square(src="../img/square-logo-dark.svg")

          ul.s-info-contacts-lines
            li.s-info-phone #[i(class="fa fa-phone-square")] +00 123 456 7890
            li.s-info-mail #[i(class=`fa fa-envelope`)] info@square.com

            ul.s-info-social-links
              -
                let infoSocialLinks = ['facebook', 'twitter', 'instagram', 
                'flickr', 'google-plus'];

              - for (let link of infoSocialLinks)
                li.s-info-social-link-item: a.s-info-social-link(href="#")
                  i(class=`fa fa-${link}`)

        .s-info-twit
          a.s-info-twitter-link(href="#"): i(class='fa fa-twitter')
          p.s-info-twit-text 
            | Unerdwear cookie liquorice. Cake donut cupcake lollipop
            | soufflé candy. Chocolate oat cake #[span @cheesecake] tootsie roll.

      section.s-partners
        .s-partners-container
          -
            let partners = ['phaseone-logo', 'manfrotto-logo', 
              'hasselblad-logo', 'broncolor-logo'];

          - for( let partner of partners)
            img.s-partners-logo(src=`../img/${partner}.png`)

    footer.site-footer
      p.footer-signature Created by 2ndself.com, with exclusive for theuncreativelab.com
      p.footer-copyright © 2014 Square. All Rights Reserved.

    nav#m-menu
      ul.m-menu-list
        - let mmenuItems = ['home', 'about', 'blog', 'portfolio', 'post', 'contact'];
        - for (item of mmenuItems)
          li.m-menu-list-item: a.m-menu-link(href="#") #{item}

    script(src="../js/app.min.js")